.col-md-2 {
    padding-right: 0;
    margin-right: 15px;
}
.list-group-item {
    cursor: pointer;
    background: transparent;
}
.hover {
    background: #eee;
}
.list-group {
    min-height: 20px;
}
